a{
	text-decoration: none;
	outline: 0;
	color: #D9D6CF;
}

 a:hover{
	color: #B7B8B3; 
}


body{
	box-sizing: border-box;
	margin: auto 0;
	background-color: #AF6FC1;
	padding-top: 680px;
}

#heroImg{
	position: fixed;
	top:0;
	margin-top: -100px;
    height: 800px;
    width: 100%;
    background: url('images/hero.png');
    background-size: cover;
}


/* logos */
#bbclogo{
	float: right;
	margin-top: 170px;
	margin-right: 62px;
	width: 33%;
	height: 70%; 
	display: none;
}

#bbclogomini{
	float: left; 
	margin-top: 525px;
	margin-left: 80px;
	width: 12%;
	display: none;
	z-index: 1;
}

#bbclogoabout{
	width: 100%;
}


/* menu */
#drinkmenu{
	height: 78%;
    width: 75%;
    display: none;
    margin-top: 130px;
	margin-left: 50px;
}

#munchiesmenu{
	height: 78%;
    width: 75%;
    display: none;
    margin-top: 130px;
	margin-left: 50px;
}

#drinkbutton, #munchiesbutton{
	width: 50%;
}

#drinkbutton:hover, #munchiesbutton:hover{
	cursor: pointer;
	background-color: #000; 
}

.offbutton{
	background-color: #000;
	pointer-events:none;
}

.togglemenu{
	width: 20%;
	top: 153px;
	left: 95px;
	z-index: 999;
	position: absolute;
	display: none;
}

/* gallery */
#instafeed{
	width: 60%;
	height: 625px; 
	float: right;
	overflow: scroll;
	margin-top: 130px;
	margin-right: 20px;
	display: inline;
	display: none;
}

#instafeed img{
	width: 200px;
	height: 200px;
	margin: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
}

/* press */
#bosaPress{
	float: right;
	margin-right: -500px;
	width: 33%;
	height: 70%;
	margin-top: 170px;
	background-color: #63676A;
	border-radius: 5px;
	opacity: 0.9;
	display: none;
}

.divider{
	display: block;
	width: 90%;
	margin: auto;
	height: 2px;
	background-color: #D9D6CF;
	margin-bottom: 10px; 
}

#pressBoxHeader{
	text-align: center;
	font-family: 'Dosis', sans-serif;
	color: #D9D6CF;
}


#pressBoxHeader h1{
	margin: 5px;
}

#pressBox{
	height: 85%;
}

#pressList{
	width: 90%;
	margin: auto;
	overflow: scroll;
	height: 100%;
}

#pressList ul{
	padding: 5px;
	margin: auto 0;
}

.hotPress{
	/* margin: auto 0; */
	border-radius: 5px;
	background-color: #D9D6CF;
	margin-bottom: 6px !important;
}

.hotPress p{
	margin: 5px;
}

.pressHeadline{
	font-family: 'Dosis', sans-serif;
	font-size: 23px;
}

.pressSummary{
	font-family: 'Open Sans', sans-serif;
	font-weight: initial;
	color: #63676A;
}

/* navbar */
#nav{
	position: relative; 
	z-index: 150;
	background-color: #63676A;
	width: 100%;
	height: 70px;
	margin-top: 20px;
	box-shadow: 0 2px 3px #D9D6CF;
}

#mainNav{
	font-family: 'Dosis', sans-serif;
	font-size: 23px;
	margin-top: 0px;
	padding: 0px;
}

#mainNav li{
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	margin-left: 12%;
	text-decoration: none;
	outline: 0;
	color: #D9D6CF;
	cursor: pointer;
}

#mainNav li:hover{
	color: #B7B8B3; 
}

.navScrolled{
	position: fixed !important;
	top: 0;
	margin-top: 0 !important; 
}

/* classes */
.selected{
	color: #B7B8B3 !important;
	border-bottom: 3px solid #B7B8B3;
	pointer-events:none;
}

.disabled{
	cursor: pointer;
	pointer-events:none;
}

/* about */
#about{
	position: relative;
	font-family: 'Open Sans', sans-serif;
	color: #D9D6CF;
	padding: 50px;
	background-color: #AF6FC1;
}

#about p{
	width: 100%;
	text-align: justify;
	font-size: 20px;
	margin-top: 0px;
}

.info{
	display: inline-block;
	vertical-align:top;
	width: 30%;
	margin-top: 40px;
	margin-right: 40px;
}

.address{
	font-size: 14px !important; 
	margin-top: 5px !important;
}


#hplbox{
	width: 100%;
	padding-left: 30px;
}

.hpl{
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	width: 40%;
}

.hpl h2{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: initial;
}

.hpl p{
	margin-bottom: 0px; 
}


/* social media */
#socialBar{
	text-align: left;
	width: 80%;
	margin: auto 0;
}

#socialBar h3{
	margin-top: 30px;
	margin-bottom: 10px;
}

.social{
	margin-right: 10px; 
}

/* footer */
footer {
	width: 95%;	
	margin: 0 auto;
	border-top: 2px solid #CDC3B7;
}

#copyright{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #CDC3B7;
	text-align: center;
	margin-top: 5px;
	padding-bottom: 5px;
}

/* media queries */
/* 
@media(max-width: 1385px){
	#about{
		padding: 100px;
		margin-top: 0px !important;
	}

	#bbclogoabout{
		width: 75%;
		display:block;
		margin:auto;
		min-width: 300px;
	} 

	#hplbox {
	    width: 80%;
	    padding-left: 75px;
	    margin: auto;
	    min-width: 420px;
	}

	.info{
		width: 45%;
	}
} */

@media(max-width: 1385px){
	#hplbox {
	   padding-left: 0px;
	}
}


@media(max-width: 1095px){
	#about{
		padding: 0px;
		padding-top: 40px;
		padding-bottom: 25px;
	}

	.info{
		display: block;
		width: 35%;
		margin-right: 0px;
		margin: auto;
		min-width: 290px; 
		margin-top: 20px;
	}

	.aboutwords, #hplbox{
		padding-top: 15px;
		border-top: solid 2px #CDC3B7;
	}

	.hpl{
		margin-right: 18px;
	}

	.address{
		font-size: 11px !important;
		margin-top: 10px !important;
	}

}

@media(max-width: 1270px){
	#mainNav li{
		margin-left: 11%;
	}
}

@media(max-width: 1030px){
	#mainNav li{
		margin-left: 10%;
	}
}

/* @media(max-width: 1040px){
	#hplbox {
	    padding-left: 0px;
	}


	.info{
		width: 80%;
		display: block;
		margin: auto;
		margin-top: 8%;
	}

	#about p {
	    width: 85%;
	    margin: auto;
	    min-width: 300px;
	}

} */

@media(max-width: 975px){
	#mainNav li{
		margin-left: 9%;
	}
}

@media(max-width: 765px){
	#mainNav li{
		margin-left: 8%;
	}
}

@media(max-width: 680px){
	#mainNav li{
		margin-left: 7%;
	}
}

@media(max-width: 600px){
	#mainNav li{
		margin-left: 6%;
	}
}

@media(max-width: 550px){
	#mainNav{
		display: none;
	}
}