@media(min-width: 1000px){
	#container-top{
		min-height: 550px;
	}
}

@media(max-width: 1000px){
	#container-top{
		min-height: 0px;
	}	

	#main-nav{
		display: none;
	}

	#nav{
		height: auto;
	}	

	#drop-nav{
		display: block;
	}

	#bbc-logo{
		display: block !important;
		margin: auto;
		float: none;
		width: 350px;
		height: 450px;
	}

	#hpl-box{
		display: none;
	}

	#info-container {
	    padding-left: 0px;
	}

	.info{
		width: 45%;
		margin-left: 25px;
	}

	#about{
		display: none;
	}

	#mobile-info-container{
		display: block;
	}

}

@media(max-width: 1100px){
	#drink-menu, #munchies-menu{
		width: 79%;
	}

	#bosa-press, #bbc-logo-press{
	   width: 425px;
	}
	#info-container {
	    padding-left: 35px;
	}
	.info{
		width: 40%;
	}

}

