.menu_col{
	width: 90%;
	margin-top: 30px;
}

#drink1{
	margin-top: 0px;
}

@media(max-width: 1100px){
	#drink-menu, #munchies-menu{
		width: 79%;
	}

	#bosa-press, #bbc-logo-press{
	   width: 425px;
	}

	.info{
		width: 40%;
	}

}


@media(max-width: 1000px){
	#main-nav{
		display: none;
	}

	#nav{
		height: auto;
	}	

	#drop-nav{
		display: block;
	}

	#bbc-logo{
		display: block !important;
		margin: auto;
		float: none;
		width: 350px;
		height: 450px;
	}

	#hpl-box{
		display: none;
	}

	.info{
		width: 45%;
		margin-left: 35px;
	}

	#mobile-info-container{
		display: block;
	}

}

@media(min-width: 840px){
	.info{
		width: 60%;
		margin-top: 30px;
	}

	.menu_col{
		margin-left: 30%;
	}
}

@media(min-width: 700px){
	#container-bottom {
	    padding: 40px;
	}

	.info{
		width: 100%;
		margin-top: 35px;
	}

	.menu_col{
		margin-left: 0;
	}
}

@media(min-width: 445px){
	.info{
		margin-left: 0px; 
	}

	.menu_col {
	    width: 100%
	}
}


/* ipad pro */
@media only screen and (max-device-width: 1024px) and (min-device-height:1366px) and (orientation: portrait){
	#container-top{
		height: 40vh;
	}
}

@media only screen  and (min-device-height: 1024px) and (min-device-width:1366px) and (orientation: landscape){
	#container-top{
		height: 55vh;
	}
}

/* ipad */
@media only screen  and  (device-width:768px) and (orientation: portrait){
	#bbc-logo {
	    width: 600px;
	    height: 675px;
	    margin-top: 40px;
	}

	#mobile-info-container{
		margin-top: 30px;
		font-size: 1.7em;
	}

	#drop-down-nav {
	    font-size: 4em;
	}
}


/* iphone 6p */
@media only screen and (device-width: 414px) and (orientation: portrait){
	#container-top {
	    height: 85vh;
	}

	#bbc-logo {
		width: 700px;
		height: 850px;
	    margin-top: 235px;
	}

	#mobile-info-container {
	    margin-top: 65px;
	    font-size: 2.5em;

	}

	#mobile-social {
	   font-size: 1.5em;
	    margin-top: 40px;
	}

	#drop-down-nav {
	    font-size: 4em;
	}
}

/* iphone 6 */
@media only screen and (device-width: 375px) and (orientation: portrait){
	#container-top {
	    padding-top: 200px;
	}

	#copyright{
		font-size: 1.7em;
		margin-top: 20px;
	}

	#bbc-logo {
	    height: 800px;
	    width: 675px;
	    margin-top: 30px;
	}

	#drop-down-nav {
	    font-size: 4em;
	}

	#mobile-info-container {
	    margin-top: 50px;
	}

	#mobile-info-container {
	    font-size: 3em;
	}
}

/* nexus 6p */
@media only screen and (device-width: 412px) and (orientation: portrait){
	#container-top {
	    height: 85vh;
	    padding-top: 60px;
	}

	#bbc-logo {
		width: 700px;
		height: 850px;
		margin-top: 170px;
	}

	#mobile-info-container {
	    margin-top: 65px;
	    font-size: 2.5em;

	}

	#mobile-social {
	   font-size: 1.5em;
	   margin-top: 70px;
	}

	#drop-down-nav {
	    font-size: 4em;
	}
}

/* galaxy s5 */
@media only screen and (device-width: 360px) and (orientation: portrait){
	#container-top {
	    padding-top: 200px;
	}

	#copyright{
		font-size: 1.7em;
		margin-top: 20px;
	}

	#bbc-logo {
	    height: 800px;
	    width: 675px;
	    margin-top: 40px;
	}

	#drop-down-nav {
	    font-size: 4em;
	}

	#mobile-info-container {
	    margin-top: 50px;
	}

	#mobile-info-container {
	    font-size: 3em;
	}
}


/* iphone 5 */
@media only screen and (device-width: 320px) and (orientation: portrait){
	#container-top {
	    padding-top: 200px;
	}

	#copyright{
		font-size: 1.7em;
		margin-top: 20px;
	}

	#bbc-logo {
	    height: 800px;
	    width: 675px;
	    margin-top: 45px;
	}

	#drop-down-nav {
	    font-size: 4em;
	}

	#mobile-info-container {
	    margin-top: 50px;
	}

	#mobile-info-container {
	    font-size: 3em;
	}
}
